.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    background-color: #FDFDFD;
    color: #1c1c1c;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
}

.formContainer {
    display: flex;
    gap: 20px;
    margin: 25px 0 50px;
}

.form {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form input,
.form select,
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.textarea {
    min-height: 100px;
    resize: none;
}
.form input,
.form select,
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #FDFDFD;
    border-radius: 12px;
    font-size: 16px;
    resize: none;
    color: #1c1c1c;
}

.form button {
    padding: 12px 20px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    background-color: #00a550;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.servicesDropdown {
    margin-bottom: 20px;
}

.serviceItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.dropdownContainer{
    margin-bottom: 15px;
}
.dateInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%2300a550" viewBox="0 0 24 24"%3E%3Cpath d="M19 4h-1V2h-2v2H8V2H6v2H5C3.9 4 3 4.9 3 6v14c0 1.1 0.9 2 2 2h14c1.1 0 2-0.9 2-2V6c0-1.1-0.9-2-2-2zM19 20H5V9h14v11zM5 7V6h14v1H5z"%3E%3C/path%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 24px 24px;
}

.dateInput::-webkit-calendar-picker-indicator {
    opacity: 0;
}


.button {
    background-color: #00a550;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: #008f45;
}

.mapContainer {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
}
